*{
    margin: 0;
    padding:0;
    list-style: none;

}

body{
    background-image: url(imag/img\ 1.jpg);
    background-size: cover;
}

header{
    display: block;
    background-color: #f6f6fa;
    text-align: center ;
    font-family: 'Times New Roman';
    font-weight: 550;
    font-size: 25pt;


}
a{
    color: black;
}
.all
{ 
  padding-top: 0.7cm;
    background-color:#e4e4ee;
    width: 95%;
    height: 1000px;
    margin: auto;
   

}

.pagrindas
{
    
    margin: 50px;
    display: block;
    float: left;
    padding: 10px;
    background-color: rgb(170, 170, 170);
    width: 295px;
    height: 400px;
}
.foto1
{
    display:block;
    float: left;
    background-color:#e1e1eb;
    height: 210px;
    width: 295px;
}

.antr
{
    display:block;
    float: left;

    width:295px;
    height: 100px;
    text-align: center;
    background-color: #f6f6fa;
    font-family: 'Times New Roman';
    font-weight: 550;
    font-size: 15pt;
}
.text
{
    margin: auto;
    display:block;
    float: left;
   
    background-color: #e1e1eb;
    width: 295px;
    height: 91px;
}
img{
    height: 210px;
    width: 295px;
   
}
.nauj
{
    font-size: 27pt;
    text-align: center ;
    font-family: 'Times New Roman';
    font-weight: 550;
    

}


